.headerwrapping {
    background-color: white;
    padding: 20px;
    margin-left: -10px;
    margin-top: -10px;
    margin-right: -20;
    border-style: none none solid none;
    border-bottom-color: black;
}


#davidvizena {
    background-color: #0077b5;
    color: white;
    padding: 20px;
    width: 100px;
    text-align: center;
    border-bottom: 2.5px solid black;
    margin-left: 100px;
}

#navigation {
 color: gray; 
 margin-left: 950px; 
 margin-top: -38px;
}

.body {
    margin-top: 10px;
    background-image: url("https://image.freepik.com/free-photo/light-gray-texture-pattern_1194-7060.jpg");

}

h1 {
    color: #0077b5;
    margin-left: -300px;
    text-align: center;
}


#personalfloat {
    margin: 25px 20px 0px 25px;
    border-color: 1px black;
    float: left;
}

#connect {
    float: left;
    background-color: rgb(43, 42, 42);
    width: 180px;
    margin-right: 200px;
    color: #0077b5;
    padding: 25px;
    margin-left: 700px;
    margin-top: -580px;
}


#aboutMe {
    background-color: rgb(43, 42, 42);
    width: 40%;
    margin-top: 30px;
    line-height: 200%;
    color: white;
    margin-left: 100px;    
    padding: 20px;
}



#footer {
    clear: both;
    text-align: center;
}

hr {
    width: 90%;
    height: 1px;
    background-color: #7d7d7e;
}


