.headerwrapping {
    background-color: white`;
    padding: 20px;
    margin-left: -10px;
    margin-top: -10px;
    margin-right: -20;
    border-style: none none solid none;
    border-bottom-color: black;
}


#davidvizena {
    background-color: #0077b5;
    color: white;
    padding: 20px;
    width: 100px;
    text-align: center;
    border-bottom: 2.5px solid black;
    margin-left: 100px;
}

#navigation {
 color: gray; 
 margin-left: 950px; 
 margin-top: -38px;
}

.body {
    margin-top: 10px;
    background-image: url("https://image.freepik.com/free-photo/light-gray-texture-pattern_1194-7060.jpg");

}

h1 {
    color: #0077b5;
    width: 105px;
    padding: 20px;

}


#personalfloat {
    margin: 4px 10px 0px 0px;
    border-color: 1px black;
    float: left;
}

#connect {
    float: right;
    background-color: white;
}


#aboutMe {
    background-color: white;
    padding: 50px;
    border: 10px solid pink;
    margin-top: 150px;
}



#footer {
    clear: both;
    text-align: center;

}



